

a {
	color:$mainOrange; /*no reason for this onebut some how it is works when i do it*/
}

body {
	font-family: 'Roboto', 'sans-serif';
	color: $mainBlue;
}

img {
	
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
	color:$mainOrange;
}