.generic-content-container {

	p {
		font-weight: 300;
		line-height: 1.8rem; /* space between the lines */
		font-size: 0.8rem;
		margin:0 0 1.8rem 0;

		@mixin atSmall {
			font-size: 1.1rem;
		}
	}

	p a {
		font-weight: 700;
	}
}

