.primery-nav{

	padding-top: 10px;

	@mixin atMedium {
		padding-top: 0;
	}

	&__pull-right{

		@mixin atMedium {
			float: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;


	}

	li {
		list-style: none; /* takes the bullets away*/
		display: inline-block; /*makes the content in one line if there is space*/
		padding-right: 7px;/* makes a space between the tabs*/

		@mixin atMedium {
			float:left;
			display: block;
			padding-right: 20px;
		}
	}

	li:last-child {
		padding-right: 0;

		@mixin atMedium {
			padding-right: 20px;
		}
	}

	a {
		color: #FFF;
		text-decoration: none; /*remove the under line from the word*/
		font-weight: 300;
		display: block;
		padding: 5px 8px;
		font-size: 0.7rem;
		background-color: rgba($mainBlue, 0.5);

		@mixin atMedium {
			font-size: 1rem;
			padding: 12px 0;
			background-color: transparent;
		}
	}
}