.row {

	@mixin clearFix;



	&__space {
		margin-right: -65px;
	}

	&__space > div{
		padding-right: 65px;
	}
	
	&__b-margin-until-med {
		margin-bottom: 1rem;
	}


	@mixin atMedium {

		&__b-margin-until-med {
		margin-bottom: 0;
	}

		&__med-4 {
			float:left;
			width: 33.33%;
		}

		&__med-4--larger {
			width: 37%;
		}

		&__med-8 {
			float:left;
			width: 66.66%;
		}

		&__med-8--smaller {
			width: 63%;
		}
	}

}