.row {

		@mixin clearFix;

		&__t-padding {
			padding-top:80px;
		}

		&__space {
			margin-right: -65px;
		}

		&__space-large  {
			margin-right: -70px;
		}

		&__space-large > div{
			padding-right: 65px;
		}


		&__space > div {
			padding-right: 70px;
		}

		
		
		&__b-margin-until-med {
			margin-bottom: 1rem;
		}




		@mixin atMedium {

			&__b-margin-until-med {
			margin-bottom: 0;
			}

			&__med-4 {
				float:left;
				width: 33.33%;
			}

			&__med-4--larger {
				width: 40%;
			}

			&__med-6 {
				float: left;
				width:50%;
			}

			&__med-8 {
				float:left;
				width: 66.66%;
			}

			&__med-8--smaller {
				width: 60%;
			}



		}

			@mixin atLarge {

			&__b-margin-until-large {
			margin-bottom: 0;
			}

			&__large-4 {
				float:left;
				width: 33.33%;
			}

			&__large-4--larger {
				width: 40%;
			}

			&__large-6 {
				float: left;
				width:50%;
			}

			&__large-8 {
				float:left;
				width: 66.66%;
			}

			&__large-8--smaller {
				width: 60%;
			}



		}

		/* begin equel height rulls*/

		&__same-height-at-med {
				@mixin atMedium {
					display: flex;
				}

				& > div {
					float: none;
					display: flex;
				}
			}

		&__same-height-at-large {
				@mixin atLarge {
					display: flex;
				}

				& > div {
					float: none;
					display: flex;
				}
			}



}