.site-header {
	padding: 10px;
	position:absolute; /*let the content sit on eachother*/
	z-index: 2; /*make the header sit on top of the large hero image*/
	width: 100%; /*use the full width of the screen*/

	@mixin atMedium {
		background-color: rgba($mainBlue,0.3);
	}

	&__btn-container {
		float: right; /*move the content all the way to the right*/
	}

	&__logo {
		left:50%; 
		transform: translateX(-50%) scale(.8);
		transform-origin:50% 0;
		position: absolute;
		background-color: $mainBlue;
		padding: 25px 35px;
		top:0;


		@mixin atMedium {
			left:auto;
			transform: translateX(0);

		}
	}

	&__logo__graphic {
			text-indent: -9999px;/*hide the text on the logo*/
	}

	&__menu-icon{
		width: 20px;
		height: 20px;
		background-color: #fff;
		position: absolute;
		top:10px;
		right:30px;

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-content {
		display: none;

		@mixin atMedium {
			display: block;
		}
	}


}